@import '../../../styles/base.scss';

.category{
    max-width: 500px;
    padding: 1rem;
    border-radius: 10px;
    h1{
        color:#fff;
    }
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        svg{
            width: 22px;
            height: 22px;
            cursor: pointer;
            fill:#fff;
            transition: all 0.2s;
            &:hover{
                transform: scale(1.1);
                fill: $yellow-color;
            }
        }
    }

    &__products{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
        margin-top: 10px;
        padding: 10px;
        border-radius: 10px;
        .product{
            img{
                border-radius: 10px;
                width: 100%;
                height: 200px;
                cursor: pointer;
                transition: transform 0.2s ease;
                &:hover{
                    transform: scale(1.02);
                }
            }
        }
        
    }
}