*{
  margin: 0;
  box-sizing: border-box;

  &:befor,
  &:after{
    box-sizing: border-box;
  }
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button,input,textarea,select {
  font:inherit;
}

p,h1,h2,h3,h4,h5,h6 {
  overflow-wrap: break-word;
}

img,video,canvas,svg {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
}

// .swiper {
//   width: 100%;
//   height: 100%;
// }

// .swiper-slide {
//   text-align: center;
//   font-size: 18px;
//   background: #fff;

//   /* Center slide text vertically */
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   -webkit-justify-content: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   -webkit-align-items: center;
//   align-items: center;
// }

// .swiper-slide img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

// .swiper {
//   margin-left: auto;
//   margin-right: auto;
// }

// .mainSwiper{
//   .swiper-slide img{
//       height: 300px !important;
//       border-radius: 10px !important;
//       box-shadow: rgba(99,99,99,.2) 0px 2px 8px 0px !important;
//   }
//   .swiper-pagination-bullet{
//     width: 9px !important;
//     border-radius: 2px !important;
//   }
//   .swiper-pagination-bullet-active{
//     background: #2f82ff !important;
//     width: 13px !important;
//   }
// }